.snip-text-body h1 {
  font-size: 1.75rem;
}

.snip-text-body h2 {
  font-size: 1.3rem;
}

.snip-text-body h3 {
  font-size: 1.1rem;
}

.snip-text-body h4 {
  font-size: 1rem;
}

.snip-text-body h5 {
  font-size: 0.875rem;
}

.snip-text-body h6 {
  font-size: 0.8rem;
}

.snip-text-body h1,
.snip-text-body h2 {
  padding-bottom: .3em;
  border-bottom: 1px solid #eaecef;
}

/* h1,h2,h3,h4,h5,h6, p {
  padding-top: 0;
} */

.snip-text-body code,
.snip-text-body pre {
  font-size: 85%;
  background-color: #f6f8fa;
  border-radius: 3px;
}

.snip-text-body pre code {
  padding: 0;
  border-radius: none;
}

.snip-text-body code {
  padding: .2em .4em;
  margin: 0;
}

.snip-text-body pre {
  padding: 16px;
  overflow: auto;
  line-height: 1.45;
}

.snip-text-body blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: .25em solid #dfe2e5;
}

.snip-text-body ul {
  padding-left: 2em;
}

.snip-text-body .task-list-item {
  list-style-type: none;
}

.snip-text-body .task-list-item input {
  margin: 0 .2em .25em -1.6em;
}

.snip-text-body, 
.snip-tab-content.tab-content {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.snip-tab-content.tab-content {
  display: none;
}

.snip-tab-content.tab-content.active {
  display: block;
}

.snip-write.tab-content {
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
}

.snip-write::placeholder,
.snip-preview .placeholder,
.snip-word-count {
 font-size: 90%;
 color: #ccc;
}

.snip-text-body {
  border-radius: 0 0 0.25rem 0.25rem;
  border: 1px solid #ced4da;
  border-top: none;
  padding: 6px;
  position: relative;
}

.snip-text-tabnav-tabs {
  padding: 8px 0 0;
  margin: 0 10px;
  margin-bottom: -1px;
  display: flex;
}

.snip-text-tabnav-tabs .btn-nav {
  border: 1px solid #f6f8fa;
  outline: none;
  background-color: transparent;
  padding: 8px 12px;
  cursor: pointer;
}

.snip-text-tabnav-tabs .btn-nav.active {
  background-color: #fff;
  border-color: #d1d5da;
  border-bottom: #fff;
  border-radius: 3px 3px 0 0;
  height: 100%;
  padding: 8px 12px;
}

.snip-text-header {
  border: 1px solid #d1d5da;
  background-color: #f6f8fa;
  display: flex;
  justify-content: space-between;
  border-radius: 0.25rem 0.25rem 0 0;
  font-family: inherit;
  position: relative;
}

.snip-text-header::before,
.snip-text-header::after {
  position: absolute;
  top: 11px;
  right: 100%;
  left: -16px;
  display: block;
  width: 0;
  height: 0;
  pointer-events: none;
  content: " ";
  border-color: transparent;
  border-style: solid solid outset;
}

.snip-text-header::before {
  border-width: 8px;
  border-right-color: #d1d5da;
}

.snip-text-header::after {
  margin-top: 1px;
  margin-left: 2px;
  border-width: 7px;
  border-right-color: #f6f8fa;
}

.snip-text-header-content {
  padding: 8px;
}

.snip-text-button-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.snip-text-button-container .buttons {
  border: none;
  outline: none;
  background-color: transparent;
  color: #555;
}

.snip-text-button-container.remove,
.snip-word-count.remove {
  display: none;
}

.snip-emoji-button {
  position: relative;
}

.snip-emoji-area {
  width: 220px;
  height: 150px;
  position: absolute;
  display: none;
  right: 50%;
  top: 0;
  transform: translate(50px, 30px);
  z-index: 10;
}

.snip-emoji-area-content {
  width: 100%;
  height: 100%;
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 5px;
  overflow: hidden scroll;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.filter-emoji-area {
  height: auto;
  position: absolute;
  display: none;
  z-index: 999;
}

.filter-emoji-area.emoji-dropdown,
.snip-emoji-area.show-emoji {
  display: block;
}

.filter-emoji-area .emoji-suggester {
    min-width: 180px;
    padding: 0;
    list-style: none;
    cursor: pointer;
    background: #fff;
    border: 1px solid #e1e4e8;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(27,31,35,.15);
}

.emoji-suggester .display-emoji {
  list-style: none;
  display: block;
  padding: 4px 8px;
  font-weight: 600;
  font-size: 14px;
  border-bottom: 1px solid #e1e4e8;
}

.emoji-suggester .display-emoji.selected {
  color: #fff;
  background: #0366d6;
}